

.jumbotron{
    
    
    width: 100%;
    
    background-image: linear-gradient(to right, #B22222, #A52A2A, #FF0000);
    margin-bottom: 0;
    color: white;
    
}
header h1 {
    font-family: sans-serif;
    font-weight: 600;

}

.card-header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
}

.card-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, 
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
}



.header-img {
    border-radius: 50%;
    
    width: 80px;
    height: 80px;

}

 .my-table{
     margin-top: 40px;
 }

 .table-head {
     background-color: #A52A2A;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 600;
 }


.navbar {
    float: right;
    font-size: 20px;
    
}




.footer{
    background-color: rgba(255,0, 0, 0.8);
    padding: 40px 5px;
}



